.person_11_0_0 {
  padding: 30px 0;
  text-align: center;
  background: #0a4285;
  &__box {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  &__item {
      position: relative;
      img {
          width: 100%;
          height: auto;
          display: block;
          border-radius: 32px;
      }
  }
  &__name {
      color: #fff;
      background-color: #fa8146;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 20px 20px;
      padding: 10px 0;
  }
  @media (max-width: 767px) {
    &__box {
      flex-wrap: wrap;
    }
    &__item {
      width: calc(50% - 10px);
    }
    &__name {
      font-size: 14px;
    }
  }
  @media (max-width: 320px) {
    &__name {
      padding: 5px 0;
    }
  }
}

.modal-box-img img {
  border-radius: 50px;
}