.slider_1_0_1 {
    position: relative;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    @media (max-width: 480px) {
        height: 490px;
    }
    @media (max-width: 390px) {
        height: 460px;
    }
    @media (max-width: 360px) {
        height: 440px;
    }
    @media (max-width: 320px) {
        height: 382px;
    }
}